<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign page</title>
    <link rel="stylefsheet" href="../../../dist/css/style.bundle.css">
</head>
<body>
    <main>
        <section class="message">
            <p class="message__text"></p>
        </section>
        <section class="form">
            <article class="form__image">
                <!-- TODO -->
            </article>
            <article class="input-group">
                <div class="group-header">
                    <h1 class="group-header__h2eader">Sign up</h1>
                    <a class="input-group__link">Existing number?</a>
                </div>
            </article>
            <article class="input-group ">
                <div class="input-group__input">
                    <input type="email" name="email" id="email">
                    <input type="text" name="name" id="name">
                    <input type="password" name="password" id="password">
                </div>
                <div class="input-group__message">
                    <p class="input-group__message-text"></p>
                </div>
                <button class="input-group__button">Log in</button>
                <a class="input-group__link">Forgot password?</a>
            </article>
        </section>
    </main>
    <div id="alert"></div>
    <script src="../src/js/sigin.js"></script>
</body>
</html>