$font-stack: -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;

@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto-Regular.ttf);
}


.form{
  background: red;
  &__image{
    width: 40%;
    margin: auto;
  }
}
.input{
  &__*{
    padding: 1rem ;
  }
  &__group{
    margin: 1rem auto;
    &__message{
      font-size: 1.25rem;
      color: green;
    }
    &__button{
      color: green;
      background: white;
      display: block;
      border: .05rem solid #000;
    }
  }
}